- unless can?(current_user, :read_group, @group)
  - @disable_search_panel = true

= content_for :meta_tags do
  - if current_user
    = auto_discovery_link_tag(:atom, group_url(@group, format: :atom, private_token: current_user.private_token), title: "#{@group.name} activity")

.dashboard
  .header-with-avatar.clearfix
    = image_tag group_icon(@group), class: "avatar group-avatar s90"
    %h3
      = @group.name
    .username
      @#{@group.path}
    - if @group.description.present?
      .description
        = markdown(@group.description, pipeline: :description)
  %hr

  = render 'shared/show_aside'

  - if can?(current_user, :read_group, @group)
    .row
      %section.activities.col-md-7
        .hidden-xs
          - if current_user
            = render "events/event_last_push", event: @last_push

            %ul.nav.nav-pills.event_filter.pull-right
              %li
                = link_to group_path(@group, { format: :atom, private_token: current_user.private_token }), title: "Feed", class: 'rss-btn' do
                  %i.fa.fa-rss

            = render 'shared/event_filter'
            %hr

        .content_list
        = spinner
      %aside.side.col-md-5
        = render "projects", projects: @projects
        %br
        = render "shared_projects", projects: @shared_projects
  - else
    %p
      This group does not have public projects
